#lista-produse {
    article {
        padding: 0.5rem;
        width: 20rem;
        height:fit-content;
        display: inline-block;
        text-align: center;
        img {
            width: 5rem;
            height: 5rem;
        }
    }
}

.filtre {
}