#lista-produse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    article {
        padding: 0.5rem;
        width: 20rem;
        height:fit-content;
        text-align: center;
        img {
            width: 5rem;
            height: 5rem;
        }
    }
}

#filtre {
    width: 1200px;
}

.popup-calcul {
    position: fixed;
    top: 5rem;
    left: 50%;
}

.form-range {
    width: 60%;
    display: inline-block;
}

#mesaj-noproduse {
    width: 100%;
    text-align: center;
    display: none;
}