<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despre noi</title>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/nav.ejs") %>
    <main>
        <section>
            LightHosting este un lider de piață în domeniul găzduirii de servere din România. Înființată în 2005, compania noastră a crescut rapid, oferind soluții de găzduire de înaltă calitate pentru o gamă largă de clienți, de la mici afaceri locale la corporații multinaționale.
        </section>
        <div class="container-text-reflectat">
            <div class="text-de-reflectat">
                Un text
                <div class="text-reflectat">
                    Un text
                </div>
            </div>
        </div>

        <div class="duotone"></div>

        <div class="text-plimbaret">
            <div>Text plimbaret</div>
        </div>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>