<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
        <%- include("../fragmente/nav") %>
        <main>
            Contul a fost sters cu succes.
        </main>
        <%- include('../fragmente/footer') %>
    </body>
</html>