<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lighthosting - Termeni si conditii</title>
    <%- include('../fragmente/head') %>
</head>
<body>
<%- include("../fragmente/nav.ejs") %>
<br>
<br>
<br>
<main>
    <h1>Politica de cookie-uri</h1>
    <p>
        Un cookie este un fişier text care conţine mici fragmente de informaţii trimise navigatorului tău şi memorate în computerul, telefonul tău mobil sau alt dispozitiv, atunci când vizitezi un site. Acest fişier cookie trimite informaţii înapoi către site ori de câte ori îl revizitezi.

        Cookie-urile pot fi permanente (cunoscute drept cookie-uri persistente), care rămân în computerul tău până când le ştergi, sau temporare (cunoscute drept cookie-uri pentru sesiune) care sunt valabile doar până când închizi fereastra navigatorului tău. Cookie-urile pot fi ale părţii-gazdă (first-party), care sunt configurate de site-ul pe care îl vizitezi, sau ale unor părţi terţe, care sunt configurate de un site diferit de cel pe care îl vizitezi.

        Cum utilizeaza Lighthosting cookie-urile?

        Utilizăm cookie-urile pentru a îmbunătăţi funcţionalitatea site-urilor noastre, pentru a te ajuta să navighezi mai eficient de la o pagină la alta, pentru a memora preferinţele tale şi, în general, pentru a îmbunătăţi experienţa utilizatorilor.
        Dacă vrei să impui restricţii, să blochezi sau să ştergi fişiere cookie, poţi s-o faci modificând setările navigatorului tău de web. Utilizarea lighthosting.ro fără respingerea cookie-urilor sau a tehnologiilor similare denotă consimţământul vizitatorilor pentru utilizarea de către noi a unor astfel de tehnologii şi pentru prelucrarea informaţiilor.
    </p>
    <h1>Datele având caracter personal pe care le colectăm, temeiurile colectării și scopurile colectării</h1>
    <p>
        În cadrul raportului de comunicare online stabilit intre site și utilizator, 
        colectăm și prelucrăm datele dvs. având caracter personal, colectarea și prelucrarea acestor
        date fiind necesară furnizării de conținut informativ si promoțional către utilizator, 
        în urma completării, de către acesta, a datelor cu caracter personal în mod voluntar, 
        în cadrul site-ului, prin accesarea uneia sau mai multora dintre secțiunile: creare cont, 
        actualizare cont, abonare la newsletter, completare chestionar online, completare 
        formular online, pentru obținerea de informații personalizate sau beneficii comerciale, 
        în cadrul campaniilor promovate pe site.
    </p>
</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>