<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produse</title>
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/resurse/css/compilat/produse.css">
</head>
<body>
    <%- include("../fragmente/nav.ejs") %>
    <main>
        <section id="filtre">
            <h4>Filtre</h4>
        </section>
        <div>
            <button id="filtrare" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-funnel"></i>  <span class="d-none d-md-inline">Filtrare</span>
            </button>
            <button id="resetare" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-recycle"></i> <span class="d-none d-md-inline">Resetare</span>
            </button>
            <button id="calcul" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-calculator"></i> <span class="d-none d-md-inline">Calcul</span>
            </button>
            <button id="sortare" type="button" class="d-inline-block btn btn-primary btn-md align-items-center btn-icon-only">
                <i class="bi bi-sort-alpha-down"></i> <span class="d-none d-md-inline">Sortare</span>
            </button>
        </div>
        <section id="lista-produse">
            
        </section>
        <p id="mesaj-noproduse">Nu exista produse conform filtrarii curente.</p>
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>