<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produse</title>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>
    <%- include("../fragmente/nav.ejs") %>
    <main>

    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>
</html>