<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lighthosting - Termeni si conditii</title>
    <%- include('../fragmente/head') %>
</head>
<body>
<%- include("../fragmente/nav.ejs") %>
<br>
<br>
<br>
<main>
    <h1>Definitii</h1>
    <p>
        Colectam date precum adresa comenzii si activitatea de pe site. 
        Datele confidentiale precum email, nume si prenume sunt pastrate in siguranta.

        Vânzător - Lighthosting, cu denumirea comercială Lighthosting SRL, având sediul social în Strada Atomistilor Nr. 402, Magurele, Ilfov, CUI RO123456789, nr. de înregistrare la Registrul Comerțului 139232984381.

        Bunuri - orice produs, inclusiv documentele și serviciile menționate în Comandă, care urmează a fi furnizate de către Vânzător Cumpărătorului.

        Comandă - un document electronic ce intervine ca formă de comunicare între Vânzător și Cumpărător, prin care Vânzătorul este de acord să livreze Bunurile și Cumpărătorul este de acord să primească aceste Bunuri și să facă plată acestora.

        Contract - o Comandă confirmată de către Vânzător.

        Drepturi de Proprietate Intelectuală - toate drepturile imateriale cum ar fi know-how, dreptul de autor și drepturi în natură de autor, drepturile de bază de date, drepturi de proiectare, drepturi de model, patente, mărci înregistrate și înregistrări ale numelor de domenii pentru oricare din cele de mai sus.

        Site - domeniul lighthosting.ro și subdomeniile acestuia.
    </p>
    <h1>Obligatiile Vanzatorului</h1>
    <p>
        Vânzătorul își va utiliza cunoștințele sale profesionale și tehnice pentru a atinge rezultatul stipulat în Comandă și va livra Bunurile care îndeplinesc cerințele și specificațiile Cumpărătorului exprimate în Comandă;
        Informațiile prezentate pe site-urile Vânzătorului au caracter informativ și pot fi modificate de către Vânzător, fără o anunțare prealabilă. Descrierile produselor pot fi incomplete, însă vânzătorul face eforturi de a prezenta informațiile cele mai relevante, pentru ca produsul să fie utilizat în parametrii pentru care a fost achiziționat.
    </p>
    <h1>Limitarea raspunderii administratorului site-ului</h1>
    <p>
        Lighthosting nu isi asuma obligatia si nu garanteaza implicit sau expres, pentru continutul site-ului, respectiv pentru continutul oferit de partenerii sai sau de Utilizatorii site-ului. Cu toate acestea, Lighthosting va depune toate eforturile rezonabile pentru a asigura acuratetea si maniera profesionista in care vor fi furnizate informatiile pe site, pentru a dobandi si mentine increderea Utilizatorilor in site. In acest sens,
        Lighthosting va incerca sa corecteze in cel mai scurt timp posibil erorile si omisiunile semnalate.
    </p>
</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>