<footer>
    <a class="top-btn" href="#top" title="text informativ">&#8593;</a>
    <br>
    <a href="tel:+40755555555">suna-ma</a>
    <br>
    <a href="https://maps.app.goo.gl/FEXtpBiqt9hWHSCE8">adresa</a>
    <br>
    <a href="mailto:support@lighthosting.ro">mail</a>
    <p>&#169;Lighthosting <time datetime="2024-1-1">2024</time></p>
    <p id="banner-cookies">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
</footer>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>