<nav>
    <div id="meniu-hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h1 class="titlu-pagina">Lighthosting</h1>
    <ul id="meniu-navigatie">
        <li>
            <a href="/">Acasa</a>
            <div class="submenu">
                <a href="/#welcome">Bine ati venit</a>
                <a href="/#promotii">Promotii</a>
            </div>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/produse">Produse</a>
            <div class="submenu">
                <% for(let i=0; i<locals.categorie_produs.length; i++) {%>
                    <a href="/produse/<%= locals.categorie_produs[i]%>"><%= locals.categorie_produs[i]%></a>
                <% }%>
            </div>
        </li>
        <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <div class="bara-tema">
        <select class="form-select" id="select-tema">
            <option value="dark">Dark blue</option>
            <option value="dark-red">Dark red</option>
            <option value="light">Light</option>
        </select>
    </div>
</nav>