<nav>
    <div id="meniu-hamburger">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h1 class="titlu-pagina">Lighthosting</h1>
    <ul id="meniu-navigatie">
        <li>
            <a href="/">Acasa</a>
            <div class="submenu">
                <a href="/#welcome">Bine ati venit</a>
                <a href="/#promotii">Promotii</a>
            </div>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/produse">Produse</a>
            <div class="submenu">
                <% for(let i=0; i<locals.categorie_produs.length; i++) {%>
                    <a href="/produse/<%= locals.categorie_produs[i]%>"><%= locals.categorie_produs[i]%></a>
                <% }%>
            </div>
        </li>
        <li><a href="/dashboard">Dashboard</a></li>
        <% if(locals.utilizator && locals.utilizator.rol.cod == "admin") { %>
            <li>
                <a href="#">Admin</a>
                <div class="submenu">
                    <a href="/useri">Useri</a>
                    <a href="/admin_produse">Produse</a>
                </div>
            </li>
        <% } %>
    </ul>
    <div class="bara-tema">
        <select class="form-select" id="select-tema">
            <option value="dark">Dark blue</option>
            <option value="dark-red">Dark red</option>
            <option value="light">Light</option>
        </select>
    </div>
    <div class="user-nav">
        <% if(!locals.utilizator) { %>
            <form id="form_inreg" method="post" class="date" action="/login" enctype="multipart/form-data">
                <label>
                    Username: <input type="text" name="username" id="inp-username" value="" required pattern="[A-Za-z0-9_]+">
                </label>
                <br>
                <label>
                    Parola: <input id="parl" type="password" required  name="parola" value="">
                </label>
                <br>
                <input type="submit" value="Logare">
            </form>
        <% } else { %>
            <a href="/profil">Profil</a>
            <a href="/logout" title="Logout">Iesire <%= locals.utilizator.username %></span></a>
            <br>
            <a href="/sterge_cont" class="btn btn-primary">Sterge contul.</a>
        <% } %>
    </div>
</nav>